<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697729344050-5ortfetkg4tod6ehfctg6637i4o64om9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697729344050-5ortfetkg4tod6ehfctg6637i4o64om9</string>
	<key>API_KEY</key>
	<string>AIzaSyAf2WzhbAYadqnvRUqlUJA9F_um-T1izGs</string>
	<key>GCM_SENDER_ID</key>
	<string>697729344050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>notes-app-c5424</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-c5424.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697729344050:ios:178343dcc8edb8e439d22b</string>
</dict>
</plist>